@import "../../base";

.section-home {
  padding: 72px 100px;
  padding-bottom: 0;
  height: auto;
  background: transparent;
  @media (max-width: 1024px) {
    padding: 50px 10px;
    padding-bottom: 0;
  }

  h1 {
    word-break: break-all;
  }

  .horizon-center {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: left;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  .hero-role {
    font-size: 50px;
    line-height: 60px;
    font-weight: 550;
    margin-bottom: 24px;
    font-size: 49px;
  }

  .hero-desc {
    margin-bottom: 24px;
    padding-bottom: 24px;
    vertical-align: middle;
  }

  .button-row {
    .solid-button {
      padding: 11px 19px;
      border: none;
      border-radius: 3px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      text-align: center;
      margin-right: 30px;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      text-decoration: none;
      @media (max-width: 1024px) {
        display: block;
        margin: 10px 0px;
      }
    }

    .white {
      background: white;
      color: #232323;
    }

    .purple {
      background: #7c4dff;
      color: #fff;
    }
  }

  .padding-bottom {
    padding-bottom: 100px;
  }
}
