@import "./asset/scss/variable";

body {
  margin: 0px !important;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-color: $background-color !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
